# Libraries

In [1]:
# Core Libraries 
import pandas as pd
import numpy as np
import requests

In [2]:
print(f"Pandas Version: {pd.__version__} \n ----")
print(f"Numpy Version: {np.__version__}\n ----")
print(f"Requests Version: {requests.__version__}")

Pandas Version: 2.0.2
 ----
Numpy Version: 1.22.3
 ----
Requests Version: 2.31.0

# Data Set

[Yahoo Finance Website](https://pypi.org/project/yfinance/)

### Yahoo Fianance Data Set

In [3]:
import yfinance as yf

YF_BTC = yf.download("BTC-USD", period= "max")
YF_BTC

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2023-07-11,30417.632812,30788.314453,30358.097656,30620.951172,30620.951172,12151839152
2023-07-12,30622.246094,30959.964844,30228.835938,30391.646484,30391.646484,14805659717
2023-07-13,30387.488281,31814.515625,30268.351562,31476.048828,31476.048828,23686079548
2023-07-14,31474.720703,31582.253906,29966.386719,30334.068359,30334.068359,20917902660
2023-07-15,30311.388672,30386.562500,30274.068359,30285.216797,30285.216797,8059839488

In [4]:
print(f"yfinance Version: {yf.__version__}")

yfinance Version: 0.2.18

In [115]:
YF_ETH_Ticker = yf.Ticker("ETH-USD")
YF_ETH        = YF_ETH_Ticker.history(period="max")
YF_ETH

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09 00:00:00+00:00,308.644989,329.451996,307.056000,320.884003,893249984,0.0,0.0
2017-11-10 00:00:00+00:00,320.670990,324.717987,294.541992,299.252991,885985984,0.0,0.0
2017-11-11 00:00:00+00:00,298.585999,319.453003,298.191986,314.681000,842300992,0.0,0.0
2017-11-12 00:00:00+00:00,314.690002,319.153015,298.513000,307.907990,1613479936,0.0,0.0
2017-11-13 00:00:00+00:00,307.024994,328.415009,307.024994,316.716003,1041889984,0.0,0.0
...,...,...,...,...,...,...,...
2023-05-05 00:00:00+00:00,1877.833130,1998.413574,1876.946655,1995.060913,9498261360,0.0,0.0
2023-05-06 00:00:00+00:00,1995.479126,2017.559448,1870.605591,1900.221802,9623243037,0.0,0.0
2023-05-07 00:00:00+00:00,1899.917603,1933.998413,1873.076416,1873.076416,6883942236,0.0,0.0
2023-05-08 00:00:00+00:00,1872.475098,1886.162109,1818.450562,1849.042725,9895102899,0.0,0.0
2023-05-09 00:00:00+00:00,1848.572388,1855.824951,1833.420288,1841.299805,7869211136,0.0,0.0

### Alpha Vantage Data Set

[AlphaVantage Website](https://www.alphavantage.co/documentation/)

In [ ]:
market = pd.read_csv("Market_Names/physical_currency_list.csv")  # For " &market= " or " &to_currency= " functions 
market

In [117]:
exchange_url = 'https://www.alphavantage.co/query?function=CURRENCY_EXCHANGE_RATE&from_currency=BTC&to_currency=CNY&apikey=demo'
exchange_r = requests.get(exchange_url)
exchange_data = exchange_r.json()

pd.DataFrame(exchange_data)

                      Realtime Currency Exchange Rate
1. From_Currency Code                             BTC
2. From_Currency Name                         Bitcoin
3. To_Currency Code                               CNY
4. To_Currency Name                      Chinese Yuan
5. Exchange Rate                      190551.37714000
6. Last Refreshed                 2023-05-09 11:13:05
7. Time Zone                                      UTC
8. Bid Price                          190551.37714000
9. Ask Price                          190551.44636000

In [128]:
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
BTC_price_url = 'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=CNY&apikey=demo'
BTC_price_r = requests.get(BTC_price_url)
BTC_price = BTC_price_r.json()

BTC_price = pd.DataFrame(BTC_price.get('Time Series (Digital Currency Daily)')).T

BTC_CNY = BTC_price.iloc[:,0:8:2]
BTC_USD = BTC_price.iloc[:,1::2]

BTC_CNY.columns = ["CNY Open","CNY High","CNY Low", "CNY Close"]
CM = market[market["currency code"] == "CNY"]
CM = CM.get("currency name").tolist()
CM = CM[0]

BTC_CNY = BTC_CNY.rename_axis(index = CM)
BTC_USD.columns = ["USD Open","USD High","USD Low","USD Close","USD Market Cap."]

display(BTC_CNY)
display(BTC_USD)

,CNY Open,CNY High,CNY Low,CNY Close
Chinese Yuan,,,,
2023-05-09,191243.97872000,191244.60079100,190572.28027800,190619.62679300
2023-05-08,196505.93907100,197894.67801900,188432.21780000,191243.90960100
2023-05-07,199395.80446100,201400.94665100,196264.99023700,196506.00819000
2023-05-06,203939.75664000,206112.85800000,195606.77000000,199395.87358000
2023-05-05,199326.47810400,205124.45630000,199062.72000000,203939.82575900
...,...,...,...,...
2020-08-17,82327.57178100,86177.56920000,81351.54238200,84885.94244700
2020-08-16,81922.60356000,82470.85546800,80772.46340000,82327.64090000
2020-08-15,81287.74554500,82804.56200000,80730.99200000,81922.60356000
2020-08-14,81420.59226300,81906.01500000,80413.25195700,81287.67642600
2020-08-13,79931.56164600,81511.76022400,77899.60128400,81422.18200000

,USD Open,USD High,USD Low,USD Close,USD Market Cap.
2023-05-09,27668.80000000,27668.89000000,27571.62000000,27578.47000000,791.85402000
2023-05-08,28430.09000000,28631.01000000,27262.00000000,27668.79000000,68244.36179000
2023-05-07,28848.19000000,29138.29000000,28395.23000000,28430.10000000,30003.41028000
2023-05-06,29505.60000000,29820.00000000,28300.00000000,28848.20000000,49249.28459000
2023-05-05,28838.16000000,29677.00000000,28800.00000000,29505.61000000,58415.83048000
...,...,...,...,...,...
2020-08-17,11910.99000000,12468.00000000,11769.78000000,12281.13000000,84734.21154000
2020-08-16,11852.40000000,11931.72000000,11686.00000000,11911.00000000,41368.23690600
2020-08-15,11760.55000000,11980.00000000,11680.00000000,11852.40000000,56237.90505000
2020-08-14,11779.77000000,11850.00000000,11634.03000000,11760.54000000,59818.85269700
2020-08-13,11564.34000000,11792.96000000,11270.36000000,11780.00000000,70132.49150200